@model List<Car>

  <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h3>Bizim Teklifimiz!</h3>
            <p class="mb-4">Talepleriniz doğrultusunda size en uygun araçları bütçenizi koruyarak sizler için tahsis etmekteyiz.</p>
            <p>
              <a href="#" class="btn btn-primary custom-prev">İleri</a>
              <span class="mx-2">/</span>
              <a href="#" class="btn btn-primary custom-next">Geri</a>
            </p>
          </div>
          <div class="col-lg-9">


                <div class="nonloop-block-13 owl-carousel">

                    @foreach(var item in Model)
                    {
                    <div class="item-1">
                            <a href="#"><img src="@item.ImageUrl" style="height:300px;width:400px" alt="Image" class="img-fluid"></a>
                        <div class="item-1-contents">
                            <div class="text-center">
                                    <h3><a href="#">@item.Model</a></h3>


                                <div class="rating">
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                </div>


                                <div class="rent-price"><span>@item.RentPrice/</span>gün</div>
                            </div>
                            <ul class="specs">
                                <li>
                                    <span>Yıl</span>
                                    <span class="spec">@item.Year</span>
                                </li>
                                <li>
                                    <span>Km</span>
                                    <span class="spec">@item.Km</span>
                                </li>
                                <li>
                                    <span>Vites</span>
                                    <span class="spec">@item.GeatType</span>
                                </li>
                                <li>
                                    <span>Yakıt Türü</span>
                                    <span class="spec">@item.GasType</span>
                                </li>
                            </ul>
                            <div class="d-flex action">
                                <a href="contact.html" class="btn btn-primary">Şimdi Kirala</a>
                            </div>
                        </div>
                    </div>

                    }
                
                </div>

            </div>
        </div>
    </div>
</div>
﻿
