@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<Car>

@{
    ViewData["Title"] = "CarList";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="item-1">
                        <a href="#"><img src="@item.ImageUrl" alt="Image" class="img-fluid" style="height:200px; width:350px;"></a>
                        <div class="item-1-contents">
                            <div class="text-center">
                                <h3><a href="#">@item.Brand.BrandName @item.Model</a></h3>
                                <div class="rating">
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                </div>
                                <div class="rent-price"><span>1200₺/</span>günlük</div>
                            </div>
                            <ul class="specs">
                                <li>
                                    <span>Model Yılı</span>
                                    <span class="spec">@item.Year</span>
                                </li>
                                <li>
                                    <span>Kişi Sayısı</span>
                                    <span class="spec">@item.PersonCount</span>
                                </li>
                                <li>
                                    <span>Vites Türü</span>
                                    <span class="spec">@item.GeatType</span>
                                </li>
                                <li>
                                    <span>Km</span>
                                    <span class="spec">@item.Km</span>
                                </li>
                            </ul>
                            <div class="d-flex action">
                                <a href="contact.html" class="btn btn-primary">Hemen Kirala</a>
                                <a href="/Car/CarDetail/@item.CarID" class="btn btn-warning" style="margin-left:1.2rem">Araç Detayları</a>
                            </div>
                        </div>
                    </div>
                </div>

            }


            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27 text-center">
                        <div class="text-center">
                            @Html.PagedListPager((IPagedList)Model,page=>Url.Action("CarList",new {page}))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("_HowItWorksStepComponentPartial")