@model List<Car>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


﻿<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image : url('/carrent-master/images/rent-car.png')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>@ViewBag.title1</h1>
                    <p>@ViewBag.title2</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <br />
    <br />


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {


                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">                     
                        <a href="#"><img src="@item.ImageUrl" alt="Image" class="img-fluid" style="height:200px; width:350px;"></a>
                        <div class="text">
                            <h5 class="mr-5"><a href="/Cars/CarDetails/@item.CarID">@item.Brand.BrandName @item.Model</a></h5>
                            <h5 class="mr-5">Yakıt: @item.GasType</h5>
                            <h5 class="mr-5"> Model Yılı: @item.Year</h5>  <h5 class="mr-5">Vites: @item.GeatType</h5>
                            <div class="d-flex mb-3">

                                <p class="price ml-auto">@item.RentPrice ₺ <span>/Gün</span></p>
                            </div>
                            
                            <p class="d-flex mb-0 d-block">
                                <a href="#" class="btn btn-primary py-2 mr-1">Hemen Kirala</a> 
                                <a asp-action="CarDetail" asp-controller="Car" asp-route-id="@item.CarID" class="btn btn-secondary py-2 ml-1">Detaylar</a>
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>